.contacts_container,
.home_container {
  max-width: 1200px;
  width: 100%;
  margin: 20px auto;
}

.contacts_cards {
  padding: 20px 40px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
.home_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home_content a {
  color: #0077cc;
  text-decoration: none;
  font-size: 30px;
  transition: color 0.2s ease-in-out;
}

.home_content a:hover {
  color: #005299;
}